.widget-social__link-custom {
	display: inline;
	margin: 0 0 8px;
	white-space: normal;
}

.widget-social__link-icon-custom {
	margin: 0 5px 0 0;
	vertical-align: middle;
	fill: #000;
}

.main__header__type {
    font-weight: bold;
    font-variant: small-caps;
}
